{% extends 'base.html' %} {% block content %}
<div id="entry-form">
    {% if error %}
    <p id="error">{{error}}</p>
    {% endif %}
    <form id="chat-widget-home" method="post">
        <input type="text" name="name" id="name" placeholder="User Name.." value="{{name}}" />
        <input type="text" name="code" id="code" placeholder="Room Code" value="{{code}}" />
        <button type="submit" id="join" name="join">Join</button>
        <button type="submit" id="create" name="create">Create</button>
    </form>
</div>
{% endblock %}